
@media only screen and (min-width: 601px) {
    /* CSS STRUCTURE TEMPLATE */
h1 {
    color:rgb(255, 255, 255);
}

/* backgroundImage */
.mainimage {
    position: relative;
    min-width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    padding: 0px;
  }
.centerheader {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 800;
    font-size: 71px;
    line-height: 60px;
}
.underhead {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 79px;
    line-height: 93px;
    text-align: center;
}
.elevatorButton {
    position: absolute;
    top: 120%;
    left: 50%;
    transform: translate(-50%, -50%);
}

            /* NAVBAR */
            .hamburger{
                visibility: hidden;
            }
            .rectangle1{
                position: absolute;
                min-width: 100%;
                height: 74px;
                left: 0px;
                top: 16%;
                background: rgba(0, 0, 0, 0.30);
            }
            .logo{
                position: absolute;
                width: 465px;
                height: 86px;
                left: 20px;
                top: 15.5%;
            }
            .bg-img {
                position: absolute;
                top:11%;
                min-width: 100%;
                left: 50%;
            }
            .container {
                position: absolute;
                margin: 20px;
                width: auto;
                font-family: 'Roboto';
                font-style: normal;
                font-weight: 700;
                font-size: 16px;
                line-height: 19px; 
            }
            .topnav {
                float: left;
            }
            .topnav a {
                float: right;
                color: #ffffff;
                text-align: right;
                padding: 55px;
                text-decoration: none;
                font-size: 16px;
            }
            /* NAVBAR */
/* backgroundImage */




/* OurServices */
.rectangle2{
    position: relative;
    min-width: 100%;
    height: 711px;
    padding: 0px;
    top:-0.5vh
}
.weHead {
    position: absolute;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 93px;
    text-align: center;
    width: 458px;
    height: 29px;
    left: 38%;
    top: 137%;
}
.weUnderhead{
    position: absolute;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 45px;
    line-height: 53px;
    text-align: center;
    vertical-align: middle;
    width: 667px;
    height: 53px;
    left: 32%;
    top: 144%;
}
.seperator {
    position: absolute;
    width: 170px;
    height: 25.5px;
    left: 45%;
    top: 155%;
}
.grid{
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 280px;
    top: -450px;
    left: 9%;
}
.toolImage1{
    position: absolute;
    width: 250px;
    height: 250px;
    grid-area: 1 / 1 / 2 / 2;
    
}
.toolImage1text{
    position: absolute;
    width: 250px;
    height: 250px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 29px;
    text-align: center;
    text-transform: uppercase;
    grid-area: 2 / 1 / 3 / 2;
}
.toolImage2{
    position: absolute;
    width: 250px;
    height: 250px;
    grid-area: 1 / 2 / 2 / 3;
}
.toolImage2text{
    position: absolute;
    width: 250px;
    height: 250px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 29px;
    text-align: center;
    text-transform: uppercase;
    grid-area: 2 / 2 / 3 / 3;
}
.toolImage3{
    position: absolute;
    width: 250px;
    height: 250px;
    grid-area: 1 / 3 / 2 / 4;
}
.toolImage3text{
    position: absolute;
    width: 250px;
    height: 250px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 29px;
    text-align: center;
    text-transform: uppercase;
    grid-area: 2 / 3 / 3 / 4;
}
/* OurServices */






/* AboutUs */
#OurAboutImage{
    position: absolute;
    width: 755px;
    height: 511px;
    left: 55%;
    top: 225%;  
}
.series{
    position: absolute;
    width: 755px;
    height: 511px;
    left: 145px;
    top: 235%; 
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 29px;
    color: #292929;
}
.perfection{
    position: absolute;
    width: 755px;
    height: 511px;
    left: 145px;
    top: 238%; 
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 36px;
    line-height: 42px;
    color: #292929;
}
.paragraph{
    position: absolute;
    width: 755px;
    height: 511px;
    left: 150px;
    top: 247%;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 22px;
    color: #000000;
}
/* AboutUs*/





/* OurProducts */
#OurProducts{
    position: absolute;
    min-width: 100%;
    height: 853px;
    left: 0px;
    top:300%;
}
.rectangle3{
    position: absolute;
    min-width: 100%;
    height: 853px;
}
.fleet{
    position: absolute;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 29px;
    text-align: center;
    left: 36%;
    top: 9%;
}
.heart{
    position: absolute;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 45px;
    line-height: 53px;
    text-align: center;
    width: 659px;
    height: 106px;
    top: 12%;
    left: 32%;
}
.seperator2{
    position: absolute;
    width: 170px;
    height: 25.5px;
    bottom: 576px;
    left: 45%; 
}



    /* OurProducts -safety */
    .catalog{
        position: relative;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        left: 3%;
        top: 40%;
        margin: 0;
        padding: 0;
    }
    #safe{
        flex: 1;
        position: relative;

    }
    #cab{
        flex: 1;
        position: relative;

    }
    #door{
        flex: 1;
        position: relative;

    }
    #mech{
        flex: 1;
        position: relative;

    }
    #hoist{
        flex: 1;
        position: relative;

    }
    .boxImg{
        position: absolute;
    }
    .boxText{
        position: absolute;
        top: 170px;
        box-shadow: 1px 1px 10px rgb(37, 37, 37);
    }
    .boxHead{
        position: absolute;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 23px;
        text-align: center;
        width: 70%;
        top: 170px;
        color:rgb(0, 0, 0);
    }
    .boxPara{
        position: absolute;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 22px;
        width: 223px;
        text-align: center;
        top: 190px;
        left: 15px;
        color:rgb(0, 0, 0);
    }

.downloadBox{
    position: relative;
    left: 41%;
    top: 80%;
    
}
.downloadText{
    position: absolute;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    left: 2%;
}
.rectangle6{
    position: absolute;
    box-sizing: border-box;
    border: 1px solid #FFFFFF;
}


/* OurProducts */


/* CONTACT US */
 
#ContactUs{
    position: relative;
    min-width: 100%;
    height: 20%;
    top: 1995px;  
}
#contactHead{
    position: absolute;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 29px;
    text-align: center;
    color: #292929;
    bottom: 830px;
    left: 36%;
}
.contactUnder{
    position: absolute;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 45px;
    line-height: 53px;
    text-align: center;
    text-transform: uppercase;
    color: #FF7630;
    bottom: 700px;
    left: 35%;
    width: 30%; 
}
.seperator3{
    position: absolute;
    width: 170px;
    height: 25.5px;
    bottom: 676px;
    left: 45.5%; 
}




/* FORM */
    .form1{
        position: relative;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        bottom: 100px;
        left: 35%;
        width: 600px;

    }
    .box{
        position: relative;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 600px;
        margin:50px;
        list-style-type: none; 
    }

    .box .boarder{
        position: absolute;
        width: 498px;
        height: 52px;
        left: 0%;
    }
    .box .boarder2{
        position: absolute;
        width: 40%;
        height: 52px;
        left: 0%;
    }
    .box .Label{
        position: absolute;
        top: -20px;
        left: 0%;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 100%;
        line-height: 12px;
        color: #292929;
    }
    .box .input{
        position: absolute;
        top:17px;
        left: 20px ;
        width:70%;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 100%;
        line-height: 18px;
        color: #A0A0A0;
        border: 0
    }
    .box .input2{
        position: absolute;
        top:17px;
        left: 20px ;
        width:30%;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 100%;
        line-height: 18px;
        color: #A0A0A0;
        border: 0
    }
    #lang{
        position: absolute;
        top:17px;
        left: 20px ;
        width:30%;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 100%;
        line-height: 18px;
        color: #A0A0A0;
        border: 0
    }
    .submitLabel{
        position: absolute;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 22px;
        text-align: center;
        width: 498px;
        height: 52px;
        left: 0%;
        color: #292929;
        border: 3px solid #292929; 

    }
    #language{
        position: absolute;
        left: 43%;
        top: 44.5%;
    }
/* FORM */
/* CONTACT US */    
/* INFO */
.info{
    position: relative;
    min-width: 100%;
    height: 20%;
    top: 2300px;  
}
.rectangle8{
    position: relative;
    min-width: 100%;
    height: 254px;  
}
.sign{
    position: absolute;
    left: 65%;
    top: 15%;
    height: 70%;
}
.infoText{
    position: absolute;
    top: 25%;
    left: 15%;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 45px;
    line-height: 53px;
    color: #FF7630;
}
/* INFO */
/* FOOTER */
.footer{
    position:relative;
    top: 2300px;
    left:0;
    min-width: 100%;
    height: 318px;
}
.usaHead{
    position: absolute;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
    color: #FF7630;
    text-align: left;
    top: 15%;
    left: 10%;
}
.usaAddy{
    position:absolute;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    text-align: left;
    color: #292929;
    top:20%;
    left:10%;
}
.canHead{
    position: absolute;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
    text-align: right;
    color: #FF7630;
    top: 15%;
    right: 10%;
}
.canAddy{
    position:absolute;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    color: #292929;
    text-align: right;
    top:20%;
    right:10%;
}
.subtitle{
    position:absolute;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    text-align: center;
    color: #292929;
    bottom: 5%;
    left:45.5%;

}

/* FOOTER */
.selector {
    /* POSITIONING */
    position: static;
    z-index: 10;
    top: 0;
    right: 0;
    /* DISPLAY & BOX MODEL */
    display: inline-block;
    overflow-x: hidden;
    box-sizing: border-box, etc;
    width: 100%;
    height: 100vh;
    padding: 0px 0px;
    border: 0px solid color;
    margin: 0px;
    /* COLOR */
}
body{
    min-width: 100%;
    color: rgb(255, 0, 0);
}
}

/* PHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONE */
/* PHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONE */
/* PHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONE */
/* PHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONE */
/* PHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONE */
/* PHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONE */
/* PHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONE */
/* PHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONE */
/* PHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONE */
/* PHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONE */
/* PHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONE */
/* PHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONE */
/* PHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONE */
/* PHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONE */
/* PHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONE */
/* PHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONE */
/* PHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONE */
/* PHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONE */
/* PHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONE */
/* PHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONE */
/* PHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONE */
/* PHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONE */
/* PHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONEPHONE */

@media only screen and (max-width: 600px) {
    h1 {
        color:rgba(0, 68, 255, 0.503);
    }
    
    /* backgroundImage */
    .mainimage {
        position: relative;
        max-width: 100%;
        height: 100%;
        left: 0px;
        top: 0px;
        padding: 0px;
      }  }
      .centerheader {
          position: absolute;
          top: 90%;
          left: 50%;
          transform: translate(-50%, -50%);
      
          font-family: 'Roboto';
          font-style: normal;
          font-weight: 800;
          font-size: 71px;
          line-height: 60px;
      }
      .underhead {
          position: absolute;
          top: 100%;
          left: 50%;
          transform: translate(-50%, -50%);
          font-family: 'Roboto';
          font-style: normal;
          font-weight: 900;
          font-size: 79px;
          line-height: 93px;
          text-align: center;
      }
      .elevatorButton {
          position: absolute;
          top: 120%;
          left: 50%;
          transform: translate(-50%, -50%);
      }

      @media only screen and (max-width: 600px) {
                  /* NAVBAR */
                  .navbar{
                    position: fixed;
                    top: 0; 
                    left: 0; 
                    z-index: 9999; 
                    max-width: 100%; 
                    height: 50px;  
                  }
                  .rectangle1{
                      position: static;
                      max-width: 100%;
                      height: 94px;
                      left: 0px;
                      top: 0%;
                      background: rgba(0, 0, 0, 0.69);
                  }
                  .logo{
                        position: absolute;
                        width: 50%;
                        height: 100%;
                        left: 5%;
                        top: 65%;
                  }
                  .hamburger{
                    position: absolute;
                    top: 70%;
                    left: 80%;
                    border: 0;
                  }
                  .bg-img {
                      position: static;
                      top:11%;
                      min-width: 100%;
                      left: 50%;
                  }
                  .container {
                      visibility: hidden;
                  }
                  .topnav {
                      float: left;
                  }
                  .topnav a {
                      float: right;
                      color: #ffffff;
                      text-align: right;
                      padding: 55px;
                      text-decoration: none;
                      font-size: 16px;
                  }
                  /* NAVBAR */
                }
@media only screen and (max-width: 600px) {

    .selector {
        /* POSITIONING */
        position: static;
        z-index: 10;
        top: 0;
        right: 0;
        /* DISPLAY & BOX MODEL */
        display: inline-block;
        overflow-x: hidden;
        box-sizing: border-box, etc;
        max-width: 100%;
        height: 100vh;
        padding: 0px 0px;
        border: 0px solid color;
        margin: 0px;
        /* COLOR */
    }
    body{
        max-width: 100%;
        color: rgb(255, 0, 0);
    }
    
}